<div class="container">
  <br>
  <h1>Sales </h1>
  <br>
  <div class="box">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Funcionário</th>
          <th scope="col">Nome</th>
          <th scope="col">Genero</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Idade</th>
          <th scope="col">Ação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bank of allUsers">
          <td>{{bank._id}}</td>
          <td>{{bank.Nome}}</td>
          <td>{{bank.Genero}}</td>
          <td>{{bank.Email}}</td>
          <td>{{bank.Role}}</td>
          <td>{{bank.Idade}}</td>
          <td>
            <a href="" class="btn btn-secondary">Edit</a>
            <a href="" class="btn btn-info">Details</a>
            <a href="" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>