<div>
  <h3>LIBRARY</h3>
  <table>
    <td><button onclick="location.href='/'" type="button">HOME</button></td>
    <td><button onclick="location.href='/users/list'" type="button">USERS</button></td>
    <td><button onclick="location.href='/books/list'" type="button">LIVROS</button></td>
  </table>
</div>