<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs'); %>
</head>

<body>

    <header>
        <%- include('partials/header.ejs'); %>
    </header>

    <main>
        <h5>LOGIN</h5>
        <form action="/users/login" method="POST">
            <div>
                <label for="Email">Email:</label>
                <input type="email" name="Email" id="Email" required>
            </div>
            <div>
                <label for="Password">Password:</label>
                <input type="password" name="Password" id="Password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <button onclick="location.href='/users/client/addClient'" type="button">Register Client</button>
        <button onclick="location.href='/users/employee/addEmployee'" type="button">Register Employee</button>
    </main>

    <footer>
        <%- include('partials/footer.ejs'); %>
    </footer>

</body>

</html>