<!DOCTYPE html>
<html>

<head>
  <%- include('../partials/head.ejs'); %>
</head>

<body>
  <header>
    <%- include('../partials/header.ejs'); %>
  </header>
  <main>



    <div class = "container">
      <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
          <h4 class = "text-center"> New User </h4>
          <div class = "card-body">
            <form action="/users/client/register" method="POST">
              <div class ="form-group">
                <label for="Nome">Name</label>
               <input type="hidden" name="id" class = "form-control" value="">
               <input type="text" name="Nome" id="Nome" value="" placeholder="First and Last" class = "form-control" required>
              </div>
              
              <div class ="form-group">
                <label for="Email">Email</label>
                <input type="email" name="Email" id="Email" value="" placeholder="example@gmail.com"  class = "form-control" required>
              </div>
              
              <div class ="form-group">
                <label for="Password">Password</label>
          <input type="password" name="Password" id="Password" value="" class = "form-control" required>
              </div>
              
              <div class ="form-group">
                <label for="Morada">Morada</label>
                <input type="text" name="Morada" id="Morada" value="" placeholder="Street, Number, Postal Code" class = "form-control" required>
              </div>

              <div class ="form-group">
                <label for="Genero">Genero</label>
          <select id="Genero" name="Genero" class = "form-control">
            <option value="" disabled selected>Selecionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Feminino">Feminino</option>
          </select>
              </div>

              <div class ="form-group">
                <label for="DataNascimento">Data Nascimento</label>
          <input type="date" name="DataNascimento" id="DataNascimento" value="" placeholder="01/01/1999" class = "form-control" required>
              </div>

              <div class = "box-footer">
                <button type="submit" class = "btn btn-primary">
                  Submit
                </button>

                  <button onclick="location.href='/users/list'" type="button" class = "btn btn-danger">Cancel</button>
                    <button onclick="location.href='/'" type="button" class = "btn btn-danger">Cancel</button>
                 
              </div>
            </form>
          
          </div>
        </div>
      </div>
    </div>
  
  </main>
  <footer>
    <%- include('../partials/footer.ejs'); %>
  </footer>
  
</body>

</html>